body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;background-color: rgba(120, 173, 226, 0.721);
}
li{
    list-style: none;
}
ul{
    padding: 0;
}
.container {
    width: 350px;
    margin: 0 auto;
    border: 3px solid #111e1c5b;
    border-radius: 10px;
    background-color: rgb(73, 134, 136);
    text-align: center;
    user-select: none;
}
.name{
    font-size: 22px;
    color: rgb(27, 53, 102);
}
.hr{
    box-shadow: #111e1c5b 0px 0px 10px 1px;
}
input{
    width: 200px;
    height: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}